.more__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 5px solid #ece9e9;
}

.more__header-column {
  display: flex;
  align-items: center;
}

.more__header__user-info__name {
  margin-bottom: 5px;
  font-weight: 600;
}


.more__header__user-info__email {
  font-size: 12px;
  color: #B1B1B1;
}

.more__options {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 10px 0px;
  border-bottom: 5px solid #ece9e9;
}

.more__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.more__option i {
  margin-bottom: 10px;
}

.more__plus-friends {
  border-bottom: 5px solid #ece9e9;
}

.more__plus-friends__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.more__plus-friends__header-title {
  font-weight: 600;
}

.more__plus-friends__header-info {
  font-weight: 600;
  font-size: 14px;
  color: #B1B1B1;
}

.more__plus-friends__items {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-bottom: 10px;
}

.more__plus-friends__item {
  width: 50%;
  padding: 12px;
}

.more__extras {
  display: flex;
  padding: 25px 10px 10px 10px;
}

.more__extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 20%;
}

.more__extra img {
  width: 45px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.more__extra-title {
  text-align: center;
}
