.tab-bar {
  background-color: #F7F7F7;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 8px 30px;
  border-top: 1px solid #ece9e9;
}

.tab-bar__tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  color : #C1C1C1;
}

.tab-bar__tab i{
  font-size: 20px;
}

.tab-bar__title {
  padding-top: 5px;
  font-size: 10px;
}

.tab-bar__tab--selected {
  color: #523737;
}
